<div class="login_form">
  <section >

<%- model_class = Profile -%>

<br/>
<div class="page-header" style="text-align:center; ">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>


  <%= image_tag @profile.avatar, :width => '150px', :height =>'150px' %>
  
<br/>
<br/>
<br/>

<table class="log_table" >

  <col width="40%">
  <col width="15%">
<tr>
  <td><strong><%= model_class.human_attribute_name(t(:first_name)) %> : </strong></td>
  <td><%= @profile.first_name %></td>
</tr>

<tr>
  <td><strong><%= model_class.human_attribute_name(t(:last_name)) %> : </strong></td>
  <td><%= @profile.last_name %></td>
</tr>

<tr>
  <td><strong><%= model_class.human_attribute_name(t(:ssn)) %> : </strong></td>
  <td><%= @profile.ssn %></td>
</tr>

<tr>
  <td><strong><%= model_class.human_attribute_name(t(:email)) %> : </strong></td>
  <td><%= @profile.email %></td>
</tr>

<tr>
  <td><strong><%= model_class.human_attribute_name(t(:mobile)) %> : </strong></td>
  <td><%= @profile.mobile %></td>
</tr>

<tr>
  <td><strong><%= model_class.human_attribute_name(t(:phone_number)) %> : </strong></td>
  <td><%= @profile.phone_number %></td>
</tr>

</table>

<div style="clear:both; padding-top:50px" align="center">
<%= link_to t('.back', :default => t("helpers.links.back")),
              profiles_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_profile_path(@profile), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              profile_path(@profile),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-default' %>
</div>


</section>
</div>


