<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="login_form">
  <section >
   <div class="picture"></div>

  <h1>ثبت نام کاربران</h1>

  <%= f.label :email %><br />
      
        
        <%= f.email_field :email, autofocus: true %>
      

  <%= f.label :password %><br/>
      
        
        <% if @validatable %>
         <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %>
      

<%= f.label :password_confirmation %><br />
  
    
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  
<br/>
  <br/>
  <div >
    <%= f.submit "Sign up" , :class => "buttons" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</section>
</div>