<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inteligent shopping System</title>
    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   
    <div class="slider-area">
        <div class="zigzag-bottom"></div>
        <div id="slide-list" class="carousel carousel-fade slide" data-ride="carousel" align="right">
            
            <div class="slide-bulletz">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="carousel-indicators slide-indicators">
                                <li data-target="#slide-list" data-slide-to="0" class="active"></li>
                                <li data-target="#slide-list" data-slide-to="1"></li>
                                <li data-target="#slide-list" data-slide-to="2"></li>
                            </ol>                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="single-slide">
                        <div class="slide-bg slide-one"></div>
                        <div class="slide-text-wrapper">
                            <div class="slide-text">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-6">
                                            <div class="slide-content">
                                                <h3>دیگر نگران صف‌های طولانی نباشید</h3>
                                                <p></p>
                                                <p></p>
                                                <a href="" class="readmore">...بیشتر</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-slide">
                        <div class="slide-bg slide-two"></div>
                        <div class="slide-text-wrapper">
                            <div class="slide-text">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-6">
                                            <div class="slide-content">
                                                <h3>در وقت خود صرفه‌جویی کنید</h3>
                                                <p></p>
                                                <a href="" class="readmore">...بیشتر</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-slide">
                        <div class="slide-bg slide-three"></div>
                        <div class="slide-text-wrapper">
                            <div class="slide-text">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-6">
                                            <div class="slide-content">
                                                <h3>با ما خرید آسان را تجربه کنید</h3>
                                                <p></p>
                                                <p></p>
                                                <a href="" class="readmore">...بیشتر</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>        
    </div> <!-- End slider area -->
    
    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-refresh"></i>
                        <p>صرفه‌جویی در زمان</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-shopping-cart"></i>
                        <p>چرخ خرید هوشمند</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-lock"></i>
                        <p>پرداخت ایمن</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-gift"></i>
                        <p>محصولات جدید</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End promo area -->
    
    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">آخرین محصولات</h2>
                        <div class="product-carousel" align = "center">

                            <% if not @items.blank? %>
                                <% @items.each do |item| %>
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            <%= image_tag(item.item_image, :alt => "") %>
                                            <div class="product-hover">
                                                <%= link_to(t('see_details'), item_path(item) ,:class => "fa fa-link view-details-link fa-right-text", :method=>'get') %>
                                            </div>
                                        </div>

                                        <h2>
                                            <%= item.name %>
                                        </h2>

                                        <div class="product-carousel-price">
                                            <ins><%= item.price %></ins>
                                        </div> 
                                    </div>
                                <% end %>
                            <% else %>
                                <div>
                                    <strong>
                                        در حال حاضر هیچ محصولی موجود نیست
                                    </strong>
                                </div>
                            <% end %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->



    
    <div class="brands-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <h2 class="section-title">فروشگاه‌ها</h2>
                        <div class="brand-list" align="center">

                            <% if not @stores.blank? %>
                                <% @stores.each do |store| %>
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            <%= image_tag(store.store_image, :alt => "") %>
                                            <div class="product-hover">
                                                <%= link_to(store.company_name, store_path(store) ,:class => "fa fa-link view-details-link fa-right-text", :method=>'get') %>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <% else %>
                            <% end %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End brands area -->
    

    <div class="product-widget-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">


                <div class="col-md-4">
                    <div class="single-product-widget" align="right">
                        <h2 class="product-wid-title">پر فروش‌ترین محصولات</h2>
                        <%= link_to(t(:all_items), items_path ,:class => "wid-view-more btn btn-primary fonts-family", :method=>'get') %>

                        <div class="single-wid-product">
                            <a href="single-product.html">
                           
                            <%= image_tag(@items.first.item_image, :class => "product-thumb") %>
                            </a>
                            <h2><%= link_to(@items.first.name, item_path(@items.first) ,:class => "fa-right-text", :method=>'get') %></h2>
                            <!-- <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div> -->
                            <div class="product-wid-price">
                                <ins><%= @items.first.price %></ins>
                            </div>                            
                        </div>


                    </div>
                </div>



                <div class="col-md-4">
                    <div class="single-product-widget" align="right">
                        <h2 class="product-wid-title">جدیدترین محصولات</h2>
                        <%= link_to(t(:all_items), items_path ,:class => "wid-view-more btn btn-primary fonts-family", :method=>'get') %>
                        <div class="single-wid-product">
                            <a href="single-product.html">
                           
                            <%= image_tag(@items.last.item_image, :class => "product-thumb") %>
                            </a>
                            <h2><%= link_to(@items.last.name, item_path(@items.last) ,:class => "fa-right-text", :method=>'get') %></h2>
                            <!-- <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div> -->
                            <div class="product-wid-price">
                                <ins><%= @items.last.price %></ins>
                            </div>                            
                        </div>

                    </div>
                </div>





                <div class="col-md-4">
                    <div class="single-product-widget" align="right">
                        <h2 class="product-wid-title">جدیدترین فروشگاه‌ها</h2>
                        <%= link_to(t(:all_items), stores_path ,:class => "wid-view-more btn btn-primary fonts-family", :method=>'get') %>
                        <div class="single-wid-product">
                            <a href="single-product.html">
                           
                            <%= image_tag(@stores.last.store_image, :class => "product-thumb") %>
                            </a>
                            <h2><%= link_to( "فروشگاه " + @stores.last.company_name, store_path(@stores.last) ,:class => "fa-right-text", :method=>'get') %></h2>
                            <!-- <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div> -->
                        </div>


                    </div>
                </div>



            </div>
        </div>
    </div> <!-- End product widget area -->


   
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    
    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <!-- jQuery sticky menu -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    
    <!-- jQuery easing -->
    <script src="js/jquery.easing.1.3.min.js"></script>
    
    <!-- Main Script -->
    <script src="js/main.js"></script>
  </body>
</html>