<%- model_class = Usage -%>
<div class="page-header" style="text-align:right; padding-right: 50px">
  <h1><%=t '.title', :default => t('usages') %></h1>
</div>

<br>
<br>
<br>
<br>

<%= form_for :usage, :url =>{ :controller => :usages, :action => :show_with_cart}, :method => :get do 
  |f| %>
<p align="center" style="margin-right:50px">
    <%= f.submit t("cart_id"), :class => 'btn btn-primary fonts-family' %>
    <%= f.number_field :cart_id %>
  </p>
  <% end %>


<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
<table class="table table-striped" dir = "rtl">
  <thead>
    <tr>
      <th style="text-align:center"><%= model_class.human_attribute_name(t(:id)) %></th>
      <th style="text-align:center"><%= model_class.human_attribute_name(t(:cart_id)) %></th>
      <th style="text-align:center"><%= model_class.human_attribute_name(t(:created_at)) %></th>
    </tr>
  </thead>
  <tbody align="center">
    <% @usages.each do |usage| %>
      <tr>
        <td><%= link_to usage.id, usage_path(usage) %></td>
        <td><%= usage.cart_id %></td>
        <td><%= usage.created_at.strftime("%y-%m-%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>
<br>

<%= link_to t('new', :default => t("helpers.links.new")),
            new_usage_path,
            :class => 'btn btn-primary' %>
</div>



 <div style="clear: both; padding-top:70px"></div>


