<%- model_class = Usage -%>
<div class="page-header" style="text-align:right; padding-right: 50px">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="container">


<div class="cart" >
  <strong><%= model_class.human_attribute_name(t(:cart_id))%></strong>
  <%= @usage.cart_id.to_s.tr('0123456789','۰۱۲۳۴۵۶۷۸۹') %>

</div>
  
  </br>


<div class="show-table">
<table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->

  <col width="10%">
  <col width="50%">
  <col width="25%">
  <!-- Table Header -->

  <thead>
    <tr>
      <th ></th>
      <th >کالا</th>
      <th > قیمت</th>

      
    </tr>
  </thead>
  <tbody>
        <% @num=1 %>
        <% @shoppings.each do |s| %>
          <% if @num%2==0  %>
              <tr class="even">
                  <td><%= @num %></td>
                  <td><%= s.tag.item.name%></td>
                  <td><%= s.tag.item.price%></td>
                  
              </tr>
          
          <% else %>
               <tr class="odd">
                  <td><%= @num %></td>
                  <td><%= s.tag.item.name%></td>
                  <td><%= s.tag.item.price%></td>
              </tr>
          <% end %>
          <% @num= @num+1 %>
       <% end %>
        
        
   <br/>

    
  
        
          
           
  </table>


      <div class="price">
        <strong><%= 'جمع کل'%></strong>
        <%= @price.to_s.tr('0123456789','۰۱۲۳۴۵۶۷۸۹')%> 
        <br/>
        <br/>
         <%= link_to 'تایید و پرداخت' , root_path ,:class => "btn btn-primary"%>      
     </div>
     <br/>
     
     <br/>
     <br/>
     <br/>
     <div>
       <p></p>
     </div>
<br/>
     
</div>

</div>


