<%- model_class = Item -%>
<div class="page-header" style="text-align:right; padding-right: 50px">
  <h1><%=t '.title', :default => t("items") %></h1>
</div>


<br>
<br>
<br>
<br>

<%= form_tag items_path, :method => 'get' do %>
  <p align="center" style="margin-right:50px">
    <%= submit_tag t("Search"), :name => nil %>
    <%= text_field_tag :search, params[:search] %>
  </p>
<% end %>


<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">

  <table id="items_table" dir="rtl" class="table table-stripped new_table">
    <tr>
      <th><%= model_class.human_attribute_name(t(:name)) %></th>
      <!-- <th style="text-align:center"><%= model_class.human_attribute_name(t(:price)) %></th> -->
      <th><%= model_class.human_attribute_name(t(:item_type)) %></th>
      <!-- <th style="text-align:center"><%= model_class.human_attribute_name(t(:item_company)) %></th> -->
      <!-- <th style="text-align:center"><%= model_class.human_attribute_name(t(:item_code)) %></th> -->
      <!-- <th style="text-align:center"><%= model_class.human_attribute_name(t(:created_at)) %></th> -->
      <th></th>
      <th></th>
    </tr>
    <tr></tr>
    <tr></tr>
    <% @items.each do |item| %>
      <tr align="center">
        <td><%= link_to item.name, item_path(item) %></td>
        
        <td><%= item.item_type %></td>
        
        
        
        <td>
          <% if current_user.store.availables.find_by_item_id(item.id).blank? %>
            <!-- 
            <%= link_to 'Add this Item to store' , availables_path , :method => :POST%>
             -->
            <%= link_to t('add_item_to_store'), {:controller => "availables", 
                       :action => "create", 
                       :store_id => current_user.store.id, 
                       :item_id => item.id,
                       :item_count => 0},
                       :method => "post" %>
          
          <% else %>
            <%= t('already_have_item')%>
          <% end %>
        </td>
        <td><div class="arrow"></div></td>
      </tr>
      <tr>
        <td colspan="4">
                <div class="first_div_in_table">
                <div class="img-rounded" class="second_div_in_table"><%= image_tag item.item_image %></div>
                </div>
                <div class="third_div_in_table">
                <ul>
                    <li><span>قیمت: </span><%= item.price %> <span> تومان</span></li>
                    <li><span>کارخانه‌ی سازنده: </span><%= item.item_company %></li>
                    <li><span>کد محصول: </span><%= item.item_code %></li>
                    <li><span>تاریخ ثبت: </span><%= item.created_at.strftime("%y-%m-%d") %></li>
                 </ul>   
                 </div>
            </td>
      </tr>
    <% end %>

  </table>


<%= link_to t('new_item') , new_item_path, :default => t("helpers.links.new"),
            :class => 'btn btn-primary btn-color' %>


</div>

<div style="clear: both; padding-top:100px"></div>

<br>
<br>
<br>
<br>

