<%- model_class = Available -%>
<div class="page-header" style="text-align:right; padding-right: 50px">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>


<div style="clear: both; padding-top:20px"></div>


<div class="single-product-area">
    <!-- <div class="zigzag-bottom"></div> -->
    <div class="my-container">
        <div class="row">

            
            <div class="col-md-8 col-right">
                <div class="product-content-right">
<!--                     <div class="product-breadcroumb">
                        <a href="">Home</a>
                        <a href="">Category Name</a>
                        <a href="">Sony Smart TV - 2015</a>
                    </div>
 -->                    

                    <div class="row">
                        <div class="col-sm-4 col-right">
                            <div class="product-images style_image">
                                <div class="product-main-img">
                                    <%= image_tag @available.item.item_image %>
                                </div>
                                
                                <!-- <div class="product-gallery">
                                    <img src="img/product-thumb-1.jpg" alt="">
                                    <img src="img/product-thumb-2.jpg" alt="">
                                    <img src="img/product-thumb-3.jpg" alt="">
                                    <img src="img/product-thumb-4.jpg" alt="">
                                </div> -->
                            </div>
                        </div>


                        <div class="col-sm-7">
                            <div class="product-inner">
                                <h2 class="product-name"><%= @available.item.name %></h2>
                                <br>

                                <div class="product-inner-category">
                                    <p><h4>:<%= t('item_company') %></h4>
                                    <%= @available.item.item_company %></p>
                                    <br>

                                    <p><h4>:<%= t('item_type') %></h4>
                                    <%= @available.item.item_type %></p>
                                    <br>

                                    <p><h4>:<%= t('store_name') %></h4>
                                    <%= @available.store.company_name %></p>
                                    <br>

                                    <p><h4>:<%= t('item_price') %></h4>
                                    <%= "تومان " + @available.item.price %></p>
                                </div> 

                                
                              <!--   <form action="" class="cart">
                                    <div class="quantity">
                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                    </div>
                                    <button class="add_to_cart_button" type="submit">افزودن به لیست خرید</button>
                                </form>   
 -->                                
                               <!--  <div class="product-inner-category">
                                    <p>Category: <a href="">Summer</a>. Tags: <a href="">awesome</a>, <a href="">best</a>, <a href="">sale</a>, <a href="">shoes</a>. </p>
                                </div> 
 -->                                


                                <div style="clear: both; padding-top:70px"></div>

                                <div role="tabpanel">
                                    <ul class="product-tab fonts-family" role="tablist">
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">نظرات</a></li>
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">توضیح</a></li>
                                    </ul>

                                    <div class="tab-content">

                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2><%= t('description') %></h2>  
                                            <div class="fonts-family"><%= @available.item.description %></div>
                                        </div>

                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>دیدگاه کاربران</h2>
                                            <div class="submit-review">
                                                <% if !@available.comments.blank? %>
                                                    <% @available.comments.each do |availableComment| %>
                                                    <p><div class="submit-review-desc">:<%= t('customer_name') %></div>
                                                    <%= availableComment.customer_name %>
                                                    <br>
                                                    <br>
                                                    <div class="submit-review-desc">:<%= t('customer_comment') %></div>
                                                    <%= availableComment.customer_comment %></p>
                                                    <br>

                                                    <% end %>
                                                <% end %>

                                                <%= form_for(@comment) do |f| %>
                                                  <% if @comment.errors.any? %>
                                                    <div id="error_explanation">
                                                      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

                                                      <ul>
                                                      <% @comment.errors.full_messages.each do |message| %>
                                                        <li><%= message %></li>
                                                      <% end %>
                                                      </ul>
                                                    </div>
                                                  <% end %>

                                                  <div class="control-group">
                                                    <%= f.label t(:customer_name), :class => 'control-label' %>
                                                    <div class="controls">
                                                      <%= f.text_field :customer_name, :class => 'form-control' %>
                                                    </div>
                                                    <%= error_span(@comment[:customer_name]) %>
                                                  </div>
                                                  <div class="control-group">
                                                    <%= f.label t(:customer_email), :class => 'control-label' %>
                                                    <div class="controls">
                                                      <%= f.text_field :customer_email, :class => 'form-control' %>
                                                    </div>
                                                    <%= error_span(@comment[:customer_email]) %>
                                                  </div>
                                                  <div class="control-group">
                                                    <%= f.label t(:customer_comment), :class => 'control-label' %>
                                                    <div class="controls">
                                                      <%= f.text_field :customer_comment, :class => 'form-control' %>
                                                    </div>
                                                    <%= error_span(@comment[:customer_comment]) %>
                                                  </div>
                                                  <div class="control-group">                                                    <div class="controls">
                                                      <%= f.hidden_field :available_id, :value => @available.id %>
                                                    </div>
                                                    <%= error_span(@comment[:available_id]) %>
                                                  </div>

                                                  <%= f.submit nil, :class => 'btn btn-primary' %>
                                                <% end %>


                                            </div>
                                        </div>

                                    </div>
                                </div>
    
                            </div>
                        </div>


                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-left">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">جستجوی محصولات</h2>
                        <form action="">
                            <input type="text" placeholder="نام محصول را وارد کنید" class="text-right">
                            <input type="submit" value="جستجو" class="btn btn-primary fonts-family">
                        </form>
                    </div>
                    <br><br><br>

                    <% if user_signed_in? %>
                        <% if not current_user.store.id.blank? %>
                            <% if current_user.store.id == @available.store.id %>
                              <div style="clear:both; padding-top:50px" align="center">
                              <%= link_to t('back', :default => t("helpers.links.back")),
                                            items_path, :class => 'btn btn-default' , :method => :get  %>
                              <%= link_to t('edit', :default => t("helpers.links.edit")),
                                            edit_available_path(@available), :class => 'btn btn-default', :method => :get  %>
                              <%= link_to t('destroy', :default => t("helpers.links.destroy")),
                                            available_path(@available),
                                            :method => 'delete',
                                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                            :class => 'btn btn-danger', :method => :get  %>
                              </div>
                            <% end %>
                        <% end %>
                    <% end %>

                </div>


            </div>
        </div>
    </div>

</div>
</div>






<div class="maincontent-area" style="clear: both; padding-top:100px">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="sidebar-title" align="center">محصولات مشابه</h2>
<!--                     <div style="margin-left:130px" align="left">
                      <%= link_to  t('add_item_to_store') , items_path, :method => 'get' %>
                    </div> -->
                    <div class="product-carousel" align="center" >
                      


                      <% if not @availables.blank? %>
                            <% @availables.each do |availableItem| %>
                                <% if availableItem.store.id == @available.store.id %>
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            <%= image_tag(availableItem.item.item_image, :alt => "") %>
                                            <div class="product-hover">
                                                <%= link_to(t('see_details'), available_path(availableItem) ,:class => "fa fa-link view-details-link fa-right-text", :method=>'get') %>
                                            </div>
                                        </div>

                                        <h2>
                                            <%= availableItem.item.name %>
                                        </h2>

                                        <div class="product-carousel-price">
                                            <ins><%= availableItem.item.price %></ins>
                                        </div> 
                                    </div>
                                <% end %>
                            <% end %>
                        <% end %>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->










