<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %> <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> <%= csrf_meta_tags %>

    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu" align="right" margin-right:"100px">
                        <ul>
                            <% if user_signed_in? %>
                                <li><%= link_to(" خروج از سایت", destroy_user_session_path ,:class => "fa fa-user fa-right-text", :method=>'delete') %></li>
                                <li><%= link_to(" لیست خرید", root_path, :class => "fa fa-user fa-right-text", :method => 'get') %></li>
                                <li><%= link_to(" حساب کاربری", "../../profiles/"+current_user.id.to_s, :class => "fa fa-user fa-right-text", :method => 'get') %></li>
                                <%= ' خوش آمدید ' + current_user.email %>
                            
                            <% else %>
                                <li><%= link_to(" عضویت در سایت", new_user_registration_path ,:class => "fa fa-user fa-right-text", :method => 'get') %></li>
                                <li><%= link_to(" ورود به حساب کاربری", new_user_session_path ,:class => "fa fa-user fa-right-text", :method => 'get') %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
                
              <!--  <div class="col-md-4">
                    <div class="header-right">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">currency :</span><span class="value">USD </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">INR</a></li>
                                    <li><a href="#">GBP</a></li>
                                </ul>
                            </li>

                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">language :</span><span class="value">English </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>  -->
            </div>
        </div>
    </div> <!-- End header area -->


    
    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><%= link_to("سیستم خرید هوشمند", root_path, method: :get) %><h1>
                    </div>
                </div>
                        
                <!-- <div class="col-sm-6">
                    <div class="shopping-item">
                        <a href="cart.html">Cart - <span class="cart-amunt">$800</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
                    </div> 
                </div> -->
            </div>
        </div>
    </div> <!-- End site branding area -->
    


    <div class="mainmenu-area">
        <div class="container">
          <div class="row">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div> 
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                        <%= link_to("درباره‌ی ما", root_path, method: :get) %>
                        </li>

                        <% if user_signed_in? %>
                            <% if not current_user.store.blank? %>
                                <li>
                                <%= link_to("محصولات", items_path, method: :get) %>
                                </li>
                            <% end %>
                        <% end %>
                        
                        <li>
                        <%= link_to("فروشگاه‌ها", stores_path, method: :get) %>

                        <li>
                        <%= link_to("صفحه‌ی اصلی", root_path, method: :get) %>
                        </li>
                    </ul>
                </div>  
          </div>
        </div>
    </div> <!-- End mainmenu area -->
    


<!-- <div align="center" style="font-size:15;">
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
</div> -->

<%= yield %>



    <div class="footer-top-area" align = "center" >
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h3><span>سیستم خرید هوشمند</span></h3>
                        <p></p>
                        <div class="footer-social">
                            <%= link_to("", root_path ,:class => "fa fa-facebook", :method => 'get') %>
                            <%= link_to("", root_path ,:class => "fa fa-twitter", :method => 'get') %>
                            <%= link_to("", root_path ,:class => "fa fa-linkedin", :method => 'get') %>
                            <%= link_to("", root_path ,:class => "fa fa-pinterest", :method => 'get') %>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">دسترسی سریع</h2>
                        <ul>
                            <% if user_signed_in? %>
                                <li><%= link_to(" خروج از سایت", destroy_user_session_path ,:class => "footer-wid", :method=>'delete') %></li>
                                <li><%= link_to(" لیست خرید", root_path, :class => "ooter-wid", :method => 'get') %></li>
                                <li><%= link_to(" حساب کاربری", "../../profiles/"+current_user.id.to_s, :class => "footer-wid", :method => 'get') %></li>
                            
                            <% else %>
                                <li><%= link_to(" عضویت در سایت", new_user_registration_path ,:class => "footer-wid", :method => 'get') %></li>
                                <li><%= link_to(" ورود به حساب کاربری", new_user_session_path ,:class => "footer-wid", :method => 'get') %></li>
                            <% end %>
                        </ul>                        
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">فروشگاه‌ها</h2>
                        <ul>
                            <li><a href="http://www.shahrvand.ir">شهروند</a></li>
                            <li><a href="http://www.hyperstariran.com">هایپر استار</a></li>
                            <li><a href="http://www.refah.ir">رفاه</a></li>
                        </ul>                        
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title">خبرنامه</h2>
                        <p></p>
                        <div class="newsletter-form">
                            <form action="#">
                                <input type="email" placeholder="ایمیل خود را وارد کنید">
                                <input type="submit" value="عضویت در خبرنامه">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->


    
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright" font-family="X Koodak">
                        <p>تمامی حقوق این سایت متعلق به <a href="http://ece.ut.ac.ir" target="_blank"> دانشجویان دانشگاه تهران</a> می‌باشد &copy;</p>
                        <!-- <p>&copy; 2015 eCart. All Rights Reserved. Coded with <i class="fa fa-heart"></i> by <a href="http://wpexpand.com" target="_blank">WP Expand</a></p> -->
                    </div>
                </div>
                
                <!-- <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div> -->
            </div>
        </div>
    </div> <!-- End footer bottom area -->
 
